@{
    ViewBag.Title = "Home Page";
}

<br/>
<br />
<br />
<div class="jumbotron" style="background-color: darkgray; color: white;">
    <h1>019 - Production Deployment</h1>
    <p class="lead">Como alterar configurações e versões em produção de App Services e 
    Azure Functions sem afetar os usuários que estão conectados na aplicação?</p>
</div>